
:host {
    ion-content {
        --background: linear-gradient(#F89D57, #F88178);
    }
}



.homepage {
  align-items: center;
  background-color: var(--white);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 812px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.homepage .avril-2021-C61RwL {
  align-self: flex-end;
  color: #FFFFFF;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: 20px;
  margin-top: 8px;
  min-height: 21px;
  min-width: 85px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .battery-fMx5HE {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 11px;
  justify-content: flex-start;
  margin-bottom: -0.0px;
  margin-left: 4px;
  min-width: 24px;
  position: relative;
  width: auto;
}
.homepage .bouton-non-jene-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 40px;
  margin-left: 5.0px;
  margin-top: 16px;
  position: relative;
  width: 330px;
}
.homepage .bouton-rattrapage-jene-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 40px;
  margin-left: 7.0px;
  margin-top: 24px;
  position: relative;
  width: 330px;
}
.homepage .ce-jour-l-je-nai-pas-jen-VSaOYX {
  color: #F88178;
  height: 21px;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 25px;
  width: auto;
}

.homepage .bouton-verser-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 40px;
  margin-left: 7.0px;
  margin-top: 24px;
  position: relative;
  width: 330px;
}

.homepage .combined-shape-ijPRDX {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 4px;
  margin-bottom: 0.0px;
  margin-left: 0px;
  position: relative;
  width: 2px;
}
.homepage .compensations-hsXIYt {
  background-color: transparent;
  color: var(--bittersweet-2);
  flex-shrink: 1;
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 8px;
  margin-top: 1.0px;
  min-height: 21px;
  min-width: 129px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .component-1-BdpSxK {
  align-items: flex-start;
  color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 32px;
  justify-content: flex-end;
  min-width: 32px;
  padding: 5px 4px;
  position: relative;
  width: auto;
}
.homepage .component-2-BdpSxK {
  align-items: flex-start;
color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 32px;
  justify-content: flex-end;
  margin-left: 8px;
  min-width: 32px;
  padding: 5px 4px;
  position: relative;
  width: auto;
}
.homepage .component-3-BdpSxK {
  align-items: flex-start;
  color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 32px;
  justify-content: flex-end;
  margin-left: 8px;
  min-width: 32px;
  padding: 5px 4px;
  position: relative;
  width: auto;
}
.homepage .component-4-BdpSxK {
  align-items: flex-start;
  color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 32px;
  justify-content: flex-end;
  margin-left: 8px;
  min-width: 32px;
  padding: 5px 4px;
  position: relative;
  width: auto;
}
.homepage .component-5-BdpSxK {
  align-items: flex-start;
  color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 32px;
  justify-content: flex-end;
  margin-left: 8px;
  min-width: 32px;
  padding: 5px 4px;
  position: relative;
  width: auto;
}
.homepage .component-6-BdpSxK {
  align-items: flex-start;
  color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 32px;
  justify-content: flex-end;
  margin-left: 8px;
  min-width: 32px;
  padding: 5px 4px;
  position: relative;
  width: auto;
}
.homepage .component-7-BdpSxK {
  align-items: flex-start;
 color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 32px;
  justify-content: flex-end;
  margin-left: 8px;
  min-width: 32px;
  padding: 5px 4px;
  position: relative;
  width: auto;
}
.homepage .dimanche-pNSWN4 {
  color: #FFFFFF;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 26px;
  min-height: 21px;
  min-width: 14px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .ellipse-1-bloVV8 {
  background-color: transparent;
  height: 195px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 195px;
  display: block;
      margin-left: auto;
      margin-right: auto;

}
.homepage .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 125px;
  justify-content: flex-start;
  margin-left: 74.0px;
  margin-top: 0px;
  min-width: 207px;
  position: relative;
  width: auto;
}
.homepage .flex-row-VMr6Om {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 32px;
  justify-content: flex-start;
  margin-right: 1.0px;
  margin-top: 8px;
  min-width: 272px;
  position: relative;
  width: auto;
}
.homepage .flex-row-mzXdH9 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 104px;
  justify-content: flex-start;
  margin-left: 7.0px;
  margin-top: 27px;
  min-width: 332px;
  position: relative;
  width: auto;
}
.homepage .fond-VSaOYX {
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 15px;
  width: 328px;
}
.homepage .fond-Xw4sWa {
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 328px;
}

.homepage .fond-Xw4sWa1 {
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 155px;
}

.homepage .fond-Xw4sWa2 {
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 60px;
  left: 170px;
  position: absolute;
  top: 0px;
  width: 155px;
}


.homepage .fondmontant-hiVJnw {
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 160px;
}
.homepage .fondrcup-gqUHZF {
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 160px;
}
.homepage .jai-rattrap-un-jour-de-jene-Xw4sWa {
  color: #F88178;
  height: 21px;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: auto;
}

.homepage .jai-verse-Xw4sWa1 {
  color: #F88178;
  height: 21px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: auto;
}

.homepage .jai-verse-Xw4sWa2 {
  color: #F88178;
  height: 21px;
  left: 165px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: auto;
}
.homepage .jeudi-pNSWN4 {
  color: #FFFFFF;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 25px;
  min-height: 21px;
  min-width: 12px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .jour-i6010010117-9rG2b0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 23px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .jour-i6010110112-KtOlEX {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 23px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .jour-i6010210117-gt82n6 {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 23px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .jour-i6010310117-fVQN4V {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 23px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .jour-i6010410117-PBxgdW {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 23px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .jour-i6010510117-xpfe1G {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 23px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .jour-i6010610117-jQXOzQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 23px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .jour-rcupr-gqUHZF {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 73px;
  width: auto;
}
.homepage .jours-de-la-semaine-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 13.0px;
  margin-top: 16px;
  min-width: 266px;
  position: relative;
  width: auto;
}
.homepage .jours-rattrapage-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 195px;
  margin-left: 70.0px;
  margin-top: 16px;
  position: relative;
  width: 199px;
}
.homepage .jours-rcup-NwNIwt {
  background-color: transparent;
  flex-shrink: 1;
  height: 104px;
  position: relative;
  width: 164px;
}
.homepage .label-jours-rattrapage-bloVV8 {
  background-color: transparent;
  height: auto;
  left: 45px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 105px;
  width: auto;
}
.homepage .label-montant-hiVJnw {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 73px;
  width: 138px;
}
.homepage .left-side-i8uLGf {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 21px;
  justify-content: flex-start;
  left: 21px;
  min-width: 54px;
  position: absolute;
  top: 12px;
  width: auto;
}
.homepage .logomy-siam-1-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 107px;
  position: relative;
  width: 133px;
}
.homepage .lundi-pNSWN4 {
  color: #FFFFFF;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 12px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .mardi-pNSWN4 {
  color: #FFFFFF;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 25px;
  min-height: 21px;
  min-width: 18px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .mdibell-circle-hsXIYt {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 36px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 3px;
  position: relative;
  width: 36px;
}
.homepage .mdicalendar-month-dXBp89 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 36px;
  justify-content: flex-start;
  margin-left: 38px;
  overflow: hidden;
  padding: 1px 4px;
  position: relative;
  width: 36px;
}
.homepage .mdihome-tWi74f {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 36px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 4.2px 3px;
  position: relative;
  width: 36px;
}
.homepage .mercredi-pNSWN4 {
  color: #FFFFFF;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 23px;
  min-height: 21px;
  min-width: 18px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .mobile-signal-fMx5HE {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-bottom: -0.33px;
  margin-left: 0px;
  position: relative;
  width: 18px;
}
.homepage .mode-light-type-default-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 375px;
}
.homepage .mon-jene-tWi74f {
  background-color: transparent;
  color: var(--bittersweet);
  flex-shrink: 1;
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 8px;
  margin-top: 1.0px;
  min-height: 21px;
  min-width: 87px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .montant-verser-NwNIwt {
  background-color: transparent;
  flex-shrink: 1;
  height: 104px;
  margin-left: 4px;
  position: relative;
  width: 164px;
}
.homepage .montant-verser-hiVJnw {
  background-color: transparent;
  height: auto;
  left: 53px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 56px;
}
.homepage .nombre-de-jours-rattrapage-bloVV8 {
  background-color: transparent;
  height: auto;
  left: 83px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 49px;
  width: auto;
}
.homepage .nombre-de-jours-rcuprs-gqUHZF {
  background-color: transparent;
  height: auto;
  left: 62px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 29px;
}
.homepage .notch-MkqpB6 {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 219px;
}
.homepage .notch-i8uLGf {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 41px;
  justify-content: flex-start;
  left: 0px;
  min-width: 375px;
  padding: 0 78px;
  position: absolute;
  top: -1px;
  width: auto;
}
.homepage .overlap-group-ijPRDX {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-top: -0.33px;
  position: relative;
  width: 22px;
}
.homepage .rectangle-E1Zmkx {
  background-color: transparent;
  height: 8px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.homepage .rectangle-VujZFf {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 22px;
}
.homepage .right-side-i8uLGf {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 21px;
  justify-content: flex-start;
  left: 294px;
  min-width: 67px;
  position: absolute;
  top: 8px;
  width: auto;
}
.homepage .samedi-pNSWN4 {
  color: #FFFFFF;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 27px;
  min-height: 21px;
  min-width: 13px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .tab-bar-C61RwL {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-end;
  margin-top: 16px;
  min-width: 375px;
  padding: 0 4px;
  position: relative;
  width: auto;
}
.homepage .tab-compensations-9x0ZAa {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 36px;
  justify-content: flex-start;
  margin-left: 15px;
  min-width: 173px;
  position: relative;
  width: auto;
}
.homepage .tab-mon-june-9x0ZAa {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 36px;
  justify-content: flex-start;
  min-width: 131px;
  position: relative;
  width: auto;
}
.homepage .tab-separateur-9x0ZAa {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-bottom: 1.5px;
  margin-left: 34px;
  position: relative;
  width: 2px;
}
.homepage .time-rdDRrh {
  align-items: flex-end;
  background-color: transparent;
  border-radius: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  min-width: 54px;
  padding: 4.3px 12.2px;
  position: relative;
  width: auto;
}
.homepage .vector-9EKxse {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}
.homepage .vector-U1fE8l {
  background-color: transparent;
  flex-shrink: 1;
  height: 31px;
  position: relative;
  width: 28px;
}
.homepage .vector-cpwUTR {
  background-color: transparent;
  flex-shrink: 1;
  height: 26px;
  position: relative;
  width: 30px;
}
.homepage .vendredi-pNSWN4 {
  color: #FFFFFF;
  flex-shrink: 1;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 27px;
  min-height: 21px;
  min-width: 14px;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .wifi-fMx5HE {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-bottom: -0.15px;
  margin-left: 4px;
  position: relative;
  width: 16px;
}
.homepage .x941-x7SK95 {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  position: relative;
  width: 29px;
}



