

<ion-header>
	
  </ion-header>
  
  <ion-content padding>
<div *ngIf="currentStatus == '0'">
  <ion-list>  
      <ion-card>
        <ion-item>
          <ion-icon name="star" slot="start"></ion-icon>
          <ion-label>Liste des compensations</ion-label>
          <ion-button (click)="showHidelist1()" fill="outline" slot="end">Détail</ion-button>
        </ion-item>
        <ion-card-content>Cliquez pour voir les différentes compensations avec les règles qui s’appliquent.</ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-icon name="star" slot="start"></ion-icon>
          <ion-label>Reste à jeûner : {{numberNonJeune}} Jours.</ion-label>
          <ion-button (click)="showHidelist2()" fill="outline" slot="end">Détail</ion-button>
        </ion-item>
        <ion-card-content>Cliquez pour voir les jours à jeuner.</ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-icon name="star" slot="start"></ion-icon>
          <ion-label>Jours recuperes</ion-label>
          <ion-button (click)="showHidelist3()" fill="outline" slot="end">Détail</ion-button>
        </ion-item>
        <ion-card-content>Cliquez pour voir les jours recuperes.</ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-icon name="star" slot="start"></ion-icon>
          <ion-label>Montant à verser</ion-label>
          <ion-button (click)="showHidelist5()" fill="outline" slot="end">Détail</ion-button>
        </ion-item>
        <ion-card-content>Cliquez pour voir le montant à verser en détail.</ion-card-content>
      </ion-card>
  </ion-list> 
  </div>

  <div  *ngIf="currentStatus == '1'">
    <ion-button (click)="close()" fill="outline" slot="end">Revenir</ion-button>
    <ion-card>
      <ion-item>
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>Maladie longue durée / vieillesse </ion-label>
      </ion-item>
      <ion-card-content>Nourrir un pauvre pour chaque jour manqué (équivalent de 7 euros par jour)</ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>	Maladie courte durée / voyageur / grossesse et allaitement (pour les femmes qui ont peur pour leur santé)  </ion-label>
      </ion-item>
      <ion-card-content>Récupération des jours manqués sans compensation</ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>	Grossesse et allaitement (pour les femmes qui ont peur pour la santé du bébé).</ion-label>
      </ion-item>
      <ion-card-content>Nourrir un pauvre pour chaque jour manqué et rattraper ces jours.</ion-card-content>
    </ion-card>
  </div>
  
  <div *ngIf="(currentStatus == '2')  && !showEditEvent ">
  <ion-list class="event-detail-container" has-bouncing="false"  overflow-scroll="false">
    <ion-button (click)="close()" fill="outline" slot="end">Revenir</ion-button>
    <ion-item *ngFor="let event of eventSourceJ">
        <ion-card  >
          <ion-item>
            <ion-icon name="star" slot="start"></ion-icon>
            <span class="event-detail"> {{event.title}}  --  </span>
            <span class="event-detail"> {{event.desc}} </span>

          </ion-item>
          <ion-card-content>
            <ion-item>
              <ion-label>Date</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY " pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime"
            display-timezone="utc" disabled></ion-datetime>

            <ion-button (click)="showHideFormEdit(event)" fill="outline" slot="end">Modifier</ion-button>

            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-item>
</ion-list>
</div>

<div *ngIf="currentStatus=='3' && !showEditEvent">
  <ion-button (click)="close()" fill="outline" slot="end">Revenir</ion-button>
  <ion-list class="event-detail-container" has-bouncing="false"  overflow-scroll="false">
    <ion-item *ngFor="let event of eventSourceR" >
      <ion-card >
        <ion-item>
          <ion-icon name="star" slot="start"></ion-icon>
          <span class="event-detail"> {{event.title}} </span>
          
        </ion-item>
        <ion-card-content>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY " pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime"
          display-timezone="utc" disabled></ion-datetime>
          <ion-button  icon-left size="medium" expand="full" shape="round" color="dark" (click)="supprimerEventR(event)" tappable>
            <ion-icon name="log-in"></ion-icon>
            Supprimer.
          </ion-button>
        </ion-item>

        </ion-card-content>
      </ion-card>
    </ion-item>  
</ion-list>
</div>
<div *ngIf="showEditEvent" class="ion-padding">
  <ion-card > 
    <ion-card-content > 
      <ion-item disabled>
        <ion-label>Jour à</ion-label>
        <ion-label>{{event.title}} </ion-label>
      </ion-item>
     
    <ion-item >
       <ion-label>Motif</ion-label> 
       <ion-label>{{event.desc}} </ion-label>
       <ion-item>
        <ion-select [(ngModel)]="event.desc" ok-text="Save" cancel-text="Cancel">
          <ion-select-option value="Maladie (courte durée)">Maladie (courte durée)</ion-select-option>
          <ion-select-option value="Maladie (longue durée donc irrattrapable)">Maladie (longue durée donc
            irrattrapable)</ion-select-option>
          <ion-select-option value="Grossesse">Grossesse</ion-select-option>
          <ion-select-option value="Allaitement">Allaitement</ion-select-option>
          <ion-select-option value="période de menstrue">période de menstrue</ion-select-option>
          <ion-select-option value="Voyage">Voyage</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item>
    <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY " pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" display-timezone="utc" disabled></ion-datetime>
    </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button  *ngIf="showEditEvent" icon-left size="medium" expand="full" shape="round" color="dark" (click)="editEventRecup(event)" tappable>
    <ion-icon name="log-in"></ion-icon>
    Modifier motif. 
</ion-button>
<ion-button  *ngIf="showEditEvent" icon-left size="medium" expand="full" shape="round" color="dark" (click)="editEventMotif(event)" tappable>
    <ion-icon name="log-in"></ion-icon>
    Récuperer ce jour. 
</ion-button>
<ion-button  *ngIf="showEditEvent" icon-left size="medium" expand="full" shape="round" color="dark" (click)="supprimerEventJ(event)" tappable>
  <ion-icon name="log-in"></ion-icon>
  Supprimer ce jour.
</ion-button>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button (click)="showHideFormEditclose()">
        <ion-icon *ngIf="showEditEvent" name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</div>


<div *ngIf="currentStatus == '5'">
  <ion-button (click)="close()" fill="outline" slot="end">Revenir</ion-button>
  <ion-list>   
    <ion-item>  
      <ion-label>Montant à verser </ion-label>
      <ion-label >{{this.numberNonJeuneNourrir}} Euros</ion-label>
      <ion-icon name="star"></ion-icon> 
    </ion-item> 
  </ion-list> 
</div>

