<ion-tabs >
  <ion-tab-bar  slot="bottom">
    <ion-tab-button tab="compensation">
      <ion-icon class="logo" name="home-sharp"></ion-icon>
      <div class="mon-jene-tWi74f">Mon jeûne</div>
    </ion-tab-button>
    <div class="vl"></div>
    <ion-tab-button tab="profile">
      <ion-icon class="logo" name="information-circle-sharp"></ion-icon>
      <div class="compensations-hsXIYt">Compensations</div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
 <!--
  <ion-footer>
    <ion-toolbar color="light">
      <ion-title class="ion-text-center" >
        <ion-button  (click)="logout()" shape="round"  color="secondary">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-title>
    </ion-toolbar>
  </ion-footer> -->







