
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="today()">Today</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <!-- Card for adding a new event -->
  <div *ngIf="showAddEvent" class="ion-padding">
  <ion-card > 
    <!-- ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title>New Event</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">--> 
      <ion-card-content > 

<ion-item>
  <ion-label>Jour</ion-label>
  <ion-select [(ngModel)]="event.title">
    <ion-select-option value="Jour récupéré">Jour récupéré</ion-select-option>
    <ion-select-option value="jour non jeûné">jour non jeûné</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label position="stacked"></ion-label>
  <ion-input tpye="text" [(ngModel)]="event.title"></ion-input>
</ion-item>
<ion-item [disabled]="event.title != 'jour non jeûné'">
  <ion-label>Motif</ion-label>
  <ion-select [(ngModel)]="event.desc" ok-text="Save" cancel-text="Cancel">
    <ion-select-option value="Maladie (courte durée)">Maladie (courte durée)</ion-select-option>
    <ion-select-option value="Maladie (longue durée donc irrattrapable)">Maladie (longue durée donc irrattrapable)</ion-select-option>
    <ion-select-option value="Grossesse">Grossesse</ion-select-option>
    <ion-select-option value="Allaitement">Allaitement</ion-select-option>
    <ion-select-option value="période de menstrue">période de menstrue</ion-select-option>
    <ion-select-option value="Voyage">Voyage</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label position="stacked"></ion-label>
  <ion-input tpye="text" [(ngModel)]="event.desc"></ion-input>
</ion-item>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY " pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" display-timezone="utc" disabled></ion-datetime>
      </ion-item>
 
    </ion-card-content>
  </ion-card>
  <ion-button  *ngIf="showAddEvent" icon-left size="medium" expand="full" shape="round" color="dark" (click)="addEvent()" tappable>
    <ion-icon name="log-in"></ion-icon>
      Ajouter 
  </ion-button>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button (click)="showHideForm()">
        <ion-icon *ngIf="showAddEvent" name="close"></ion-icon>
      </ion-fab-button>
  </ion-fab>

</div>
<div *ngIf="showEditEvent" class="ion-padding">
  <ion-card > 
    <!-- ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title>New Event</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">--> 
      <ion-card-content > 

<ion-item>
  <ion-label>Jour la</ion-label>
  <ion-select [(ngModel)]="event.title">
    <ion-select-option value="Jour récupéré">Jour récupéré</ion-select-option>
    <ion-select-option value="jour non jeûné">jour non jeûné</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label position="stacked"></ion-label>
  <ion-input tpye="text" [(ngModel)]="event.title"></ion-input>
</ion-item>
<ion-item [disabled]="event.title != 'jour non jeûné'">
  <ion-label>Motif</ion-label>
  <ion-select [(ngModel)]="event.desc" ok-text="Save" cancel-text="Cancel">
    <ion-select-option value="Maladie (courte durée)">Maladie (courte durée)</ion-select-option>
    <ion-select-option value="Maladie (longue durée donc irrattrapable)">Maladie (longue durée donc irrattrapable)</ion-select-option>
    <ion-select-option value="Grossesse">Grossesse</ion-select-option>
    <ion-select-option value="Allaitement">Allaitement</ion-select-option>
    <ion-select-option value="période de menstrue">période de menstrue</ion-select-option>
    <ion-select-option value="Voyage">Voyage</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label position="stacked"></ion-label>
  <ion-input tpye="text" [(ngModel)]="event.desc"></ion-input>
</ion-item>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY " pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" display-timezone="utc" disabled></ion-datetime>
      </ion-item>
 
    </ion-card-content>
  </ion-card>
  <ion-button  *ngIf="showAddEvent" icon-left size="medium" expand="full" shape="round" color="dark" (click)="addEvent()" tappable>
    <ion-icon name="log-in"></ion-icon>
      Ajouter 
  </ion-button>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button (click)="showHideForm()">
        <ion-icon *ngIf="showAddEvent" name="close"></ion-icon>
      </ion-fab-button>
  </ion-fab>

</div>
  <div *ngIf="!showAddEvent && !showEditEvent" class="ion-padding">
    
  <calendar id="myCal"
  [monthviewDisplayEventTemplate]="template"
  [monthviewEventDetailTemplate]="template1"
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)" 
  startHour="12"
  endHour="13"
  step="30"
  startingDayWeek="1"
  [format]="'YYYY-MM-DD'"
  >
  </calendar>
</div>
<ng-template #template let-view="view" let-row="row" let-col="col">
  <div  [class.with-event]="view.dates[row*7+col].events.length">
    {{view.dates[row*7+col].label}}
    <div class="indicator-container">
      <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events">
      <div class="ion-text-center">
        <ion-icon  [ngStyle]="{'background-color': e.eventColor}" name="bulb-outline"></ion-icon>
      </div>
      </div>
    </div>
  </div>
</ng-template>
  <ion-fab  *ngIf="showAddEvent" vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="showHideForm()">
      <ion-icon  name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 

  <ng-template #template1 let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-button *ngIf="selectedDate?.events.length==0" fill="outline" expand="block" (click)="showHideForm()">Ajouter</ion-button>
    <ion-button *ngIf="selectedDate?.events.length!=0" fill="outline" expand="block" (click)="showHideFormEdit()">Modifier</ion-button>
    <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
        <ion-item *ngFor="let event of selectedDate?.events" (click)="onEventSelected(event)">
          <span class="event-detail"> {{event.startTime}} </span>
          <ion-datetime displayFormat="MM/DD/YYYY " pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime"  disabled></ion-datetime>

            <span class="event-detail"> {{event.title}} </span>
        </ion-item>
        <ion-item *ngIf="selectedDate?.events.length==0">
            <div class="no-events-label">{{noEventsLabel}}</div>
        </ion-item>
    </ion-list>
</ng-template>

</ion-content>