<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center"  >Réinitialiser votre mot de passe</ion-title>
    </ion-toolbar>
 
  
</ion-header>
<ion-content>


  <ion-item no-padding class="animated fadeInUp">
    <ion-label position="floating">
      <ion-icon name="mail" item-start></ion-icon>
      Email
    </ion-label>
    <ion-input color="secondary" type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-button fill="solid" expand="block" color="dark" (click)="resetPassword()">Réinitialisation</ion-button>

</ion-content>