
<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		  </ion-buttons>
	  <ion-title style="text-align: center;">Inscription</ion-title>
	</ion-toolbar>
  </ion-header>

  <ion-content padding>
	  <ion-list>

		  <ion-item>
			<ion-label position="floating">Nom</ion-label>
			<ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input type="text" [(ngModel)]="pname"></ion-input>
      </ion-item>

      <ion-item>
			<ion-label position="floating">E-mail</ion-label>
			<ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

		  <ion-item>
			<ion-label position="floating">Mot de passe</ion-label>
			<ion-input type="password" [(ngModel)]="password"></ion-input>
		  </ion-item>

		  <ion-item>
			<ion-label position="floating">Confirmation du mot de passe</ion-label>
			<ion-input type="password" [(ngModel)]="cpassword" (ionChange)="checkPassword()"></ion-input>
			<ion-text *ngIf ="password && !passwordMatch" color ="danger">Mot de passe non identique !</ion-text>
			<ion-text *ngIf ="password && passwordMatch" color ="success">Mot de passe identique!</ion-text>

		</ion-item>

		</ion-list>

		<ion-button  [disabled]="!passwordMatch" fill="solid" expand="block" color="dark" (click)="register()">S'inscrire</ion-button>
  </ion-content>
