.indicator-container {
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
}

.event-indicator {
  background: var(--ion-color-success);
  width: 5px;
  height: 5px;
  border-radius: 5px;
  display: table-cell;
}

:host ::ng-deep {
  .monthview-primary-with-event {
    background-color: white !important;
  }

  .monthview-selected {
    background-color: var(--ion-color-success) !important;
        font-weight: bold;
        color: #333 !important;
  }

  td, th {
      border: 0 !important;
    }

  ion-content {
            --background: linear-gradient(#F89D57, #F88178);
  }
}

.with-event {
  background-color: var(--ion-color-danger);
  border-radius: 10px;
}

.boutonAjouter {
  background-color: #FFFFFF;
  flex-shrink: 1;
  height: 40px;
  margin-left: 11.0px;
  margin-top: 24px;
  position: relative;
  width: 280px;
}
