:host {
    ion-content {
        --background: linear-gradient(#F89D57, #F88178);
    }
}
.compensations-v2 {
  align-items: center;
  background-color: var(--white);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 812px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.compensations-v2 .avril-2021-C61RwL {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: 20px;
  margin-top: 8px;
  min-height: 21px;
  min-width: 85px;
  position: relative;
  text-align: center;
  width: auto;
}
.compensations-v2 .battery-fMx5HE {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 11px;
  justify-content: flex-start;
  margin-bottom: -0.0px;
  margin-left: 4px;
  min-width: 24px;
  position: relative;
  width: auto;
}
.compensations-v2 .combined-shape-ijPRDX {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 4px;
  margin-bottom: 0.0px;
  margin-left: 0px;
  position: relative;
  width: 2px;
}
.compensations-v2 .compensations-hsXIYt {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 8px;
  margin-top: 1.0px;
  min-height: 21px;
  min-width: 129px;
  position: relative;
  text-align: center;
  width: auto;
}
.compensations-v2 .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 125px;
  justify-content: flex-start;
  margin-left: 74.0px;
  margin-top: 0px;
  min-width: 207px;
  position: relative;
  width: auto;
}
.compensations-v2 .flex-row-NBog8l {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 80px;
  justify-content: flex-start;
  margin-right: 3.92px;
  margin-top: 16px;
  min-width: 353px;
  position: relative;
  width: auto;
}
.compensations-v2 .flex-row-q6Ndrj {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 80px;
  justify-content: flex-start;
  margin-left: 0.08px;
  margin-top: 16px;
  min-width: 245px;
  position: relative;
  width: auto;
}
.compensations-v2 .fondmontant-1epxiA {
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 103px;
}
.compensations-v2 .fondmontant-TWx3fJ {
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 103px;
}
.compensations-v2 .fondmontant-Z10wjO {
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 103px;
}
.compensations-v2 .label-compensation-NBog8l {
  background-color: transparent;
  flex-shrink: 1;
  height: 56px;
  margin-right: -2px;
  position: relative;
  width: 367px;
}
.compensations-v2 .label-compensation-q6Ndrj {
  background-color: transparent;
  flex-shrink: 1;
  height: 56px;
  margin-left: 2.0px;
  position: relative;
  width: 367px;
}
.compensations-v2 .label-compensation-x64YbG {
  background-color: transparent;
  flex-shrink: 1;
  height: 56px;
  margin-left: 2.0px;
  position: relative;
  width: 367px;
}
.compensations-v2 .left-side-i8uLGf {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 21px;
  justify-content: flex-start;
  left: 21px;
  min-width: 54px;
  position: absolute;
  top: 12px;
  width: auto;
}
.compensations-v2 .logomy-siam-1-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 107px;
  position: relative;
  width: 133px;
}
.compensations-v2 .maladie-courte-SZJH3T {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 68px;
  position: relative;
  width: 56px;
}
.compensations-v2 .maladie-courte-XwOZx2 {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 0px;
  min-height: 32px;
  min-width: 56px;
  position: relative;
  text-align: center;
  width: auto;
}
.compensations-v2 .maladie-courte-zJlhs7 {
  align-items: flex-end;
  background-color: #FFFFFF;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 80px;
  justify-content: flex-end;
  min-width: 103px;
  padding: 5px 23.1px;
  position: relative;
  width: auto;
}
.compensations-v2 .maladie-kseO4w {
  background-color: transparent;
  flex-shrink: 1;
  height: 80px;
  margin-left: 36px;
  position: relative;
  width: 105px;
}
.compensations-v2 .maladie-longue-a3f6EQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 68px;
  position: relative;
  width: 52px;
}
.compensations-v2 .maladie-longue-kseO4w {
  align-items: flex-end;
  background-color: #FFFFFF;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 80px;
  justify-content: flex-end;
  min-width: 103px;
  padding: 4.2px 25.1px;
  position: relative;
  width: auto;
}
.compensations-v2 .maladie-longue-t14LkM {
  background-color: transparent;
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 36px;
  width: auto;
}
.compensations-v2 .mdibaby-6xoI2G {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 36px;
  justify-content: flex-start;
  left: 14px;
  overflow: hidden;
  padding: 5.5px 4px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.compensations-v2 .mdibell-circle-hsXIYt {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 36px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 3px;
  position: relative;
  width: 36px;
}
.compensations-v2 .mdicalendar-month-dXBp89 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 36px;
  justify-content: flex-start;
  margin-left: 38px;
  overflow: hidden;
  padding: 1px 4px;
  position: relative;
  width: 36px;
}
.compensations-v2 .mdiflash-XwOZx2 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 36px;
  justify-content: flex-start;
  margin-left: 2.0px;
  overflow: hidden;
  padding: 3.0px 10.0px;
  position: relative;
  width: 36px;
}
.compensations-v2 .mdihome-tWi74f {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 36px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 4.2px 3px;
  position: relative;
  width: 36px;
}
.compensations-v2 .mdihuman-cane-Z10wjO {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 36px;
  justify-content: flex-start;
  left: 37px;
  overflow: hidden;
  padding: 3.0px 7.3px;
  position: absolute;
  top: 8px;
  width: 36px;
}
.compensations-v2 .mdihuman-pregnant-TWx3fJ {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: flex-start;
  left: 34px;
  overflow: hidden;
  padding: 0 11px;
  position: absolute;
  top: 7px;
  width: 36px;
}
.compensations-v2 .mditimer-sand-t14LkM {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 36px;
  justify-content: flex-start;
  left: 7px;
  overflow: hidden;
  padding: 3.0px 9px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.compensations-v2 .mdiwallet-travel-1epxiA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 36px;
  justify-content: flex-start;
  left: 34px;
  overflow: hidden;
  padding: 2.8px 3px;
  position: absolute;
  top: 11px;
  width: 36px;
}
.compensations-v2 .mobile-signal-fMx5HE {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-bottom: -0.33px;
  margin-left: 0px;
  position: relative;
  width: 18px;
}
.compensations-v2 .mode-light-type-default-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 375px;
}
.compensations-v2 .mon-jene-tWi74f {
  background-color: transparent;
  color: rgba(248,129,120,0.5);
  flex-shrink: 1;
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 8px;
  margin-top: 1.0px;
  min-height: 21px;
  min-width: 87px;
  position: relative;
  text-align: center;
  width: auto;
}
.compensations-v2 .notch-MkqpB6 {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 219px;
}
.compensations-v2 .notch-i8uLGf {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 41px;
  justify-content: flex-start;
  left: 0px;
  min-width: 375px;
  padding: 0 78px;
  position: absolute;
  top: -1px;
  width: auto;
}
.compensations-v2 .nourrir-et-rattraper-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 7px;
  min-height: 160px;
  position: relative;
  width: 365px;
}
.compensations-v2 .nourrir-un-pauv-euros-par-jour-xNOFyM {
  color: #F88178;
  height: 42px;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: auto;
}
.compensations-v2 .nourrir-un-pauv-raper-ces-jours-xnc7S8 {
  color: #F88178;
  height: 42px;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: auto;
}
.compensations-v2 .nourrir-un-pauvrecateg-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 25px;
  min-height: 152px;
  position: relative;
  width: 365px;
}
.compensations-v2 .overlap-group-ijPRDX {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-top: -0.33px;
  position: relative;
  width: 22px;
}
.compensations-v2 .peur-pour-le-bb-4g3nxs {
  background-color: transparent;
  flex-shrink: 1;
  height: 68px;
  position: relative;
  width: 66px;
}
.compensations-v2 .peur-pour-le-bb-6xoI2G {
  background-color: transparent;
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 36px;
  width: auto;
}
.compensations-v2 .peur-pour-le-bb-x64YbG {
  align-items: flex-end;
  background-color: #FFFFFF;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 80px;
  justify-content: flex-end;
  margin-left: 0.08px;
  margin-top: 24px;
  min-width: 103px;
  padding: 5.2px 17.1px;
  position: relative;
  width: auto;
}
.compensations-v2 .peur-pour-moi-2SBSPj {
  background-color: transparent;
  flex-shrink: 1;
  height: 80px;
  margin-left: 18px;
  position: relative;
  width: 105px;
}
.compensations-v2 .peur-pour-moi-mme-TWx3fJ {
  background-color: transparent;
  height: 32px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  width: auto;
}
.compensations-v2 .peur-pour-moi-zJlhs7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 80px;
  margin-left: 20px;
  position: relative;
  width: 105px;
}
.compensations-v2 .rcup-jours-manq-ns-compensation-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 37px;
  min-height: 152px;
  position: relative;
  width: 365px;
}
.compensations-v2 .rcupration-des-ns-compensation-Dq7Kgw {
  color: #F88178;
  height: 42px;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: auto;
}
.compensations-v2 .rectangle-4-Dq7Kgw {
  background-color: #FFFFFF;
  border-radius: 5px;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.compensations-v2 .rectangle-4-xNOFyM {
  background-color: #FFFFFF;
  border-radius: 5px;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.compensations-v2 .rectangle-4-xnc7S8 {
  background-color: #FFFFFF;
  border-radius: 5px;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.compensations-v2 .rectangle-E1Zmkx {
  background-color: transparent;
  height: 8px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.compensations-v2 .rectangle-VujZFf {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 22px;
}
.compensations-v2 .right-side-i8uLGf {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 21px;
  justify-content: flex-start;
  left: 294px;
  min-width: 67px;
  position: absolute;
  top: 8px;
  width: auto;
}
.compensations-v2 .tab-bar-C61RwL {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-end;
  margin-top: 22px;
  min-width: 375px;
  padding: 0 4px;
  position: relative;
  width: auto;
}
.compensations-v2 .tab-compensations-9x0ZAa {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 36px;
  justify-content: flex-start;
  margin-left: 15px;
  min-width: 173px;
  position: relative;
  width: auto;
}
.compensations-v2 .tab-mon-june-9x0ZAa {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 36px;
  justify-content: flex-start;
  min-width: 131px;
  position: relative;
  width: auto;
}
.compensations-v2 .tab-separateur-9x0ZAa {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-bottom: 1.5px;
  margin-left: 34px;
  position: relative;
  width: 2px;
}
.compensations-v2 .time-rdDRrh {
  align-items: flex-end;
  background-color: transparent;
  border-radius: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  min-width: 54px;
  padding: 4.3px 12.2px;
  position: relative;
  width: auto;
}
.compensations-v2 .vector-1n1MIN {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 16px;
}
.compensations-v2 .vector-9EKxse {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}
.compensations-v2 .vector-BCBi1I {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  position: relative;
  width: 30px;
}
.compensations-v2 .vector-L6hiaH {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 20px;
}
.compensations-v2 .vector-U1fE8l {
  background-color: transparent;
  flex-shrink: 1;
  height: 31px;
  position: relative;
  width: 28px;
}
.compensations-v2 .vector-cpwUTR {
  background-color: transparent;
  flex-shrink: 1;
  height: 26px;
  position: relative;
  width: 30px;
}
.compensations-v2 .vector-igMQ4d {
  background-color: transparent;
  flex-shrink: 1;
  height: 25px;
  position: relative;
  width: 28px;
}
.compensations-v2 .vector-uOa5ex {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 18px;
}
.compensations-v2 .vector-xOoS1G {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  margin-bottom: -2.12px;
  position: relative;
  width: 14px;
}
.compensations-v2 .vieillesse-Z10wjO {
  background-color: transparent;
  height: 16px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 48px;
  width: auto;
}
.compensations-v2 .voyageur-1epxiA {
  background-color: transparent;
  height: 16px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 49px;
  width: auto;
}
.compensations-v2 .wifi-fMx5HE {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-bottom: -0.15px;
  margin-left: 4px;
  position: relative;
  width: 16px;
}
.compensations-v2 .x941-x7SK95 {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  position: relative;
  width: 29px;
}
